
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    position: relative;
}

.grid > article img {
    max-width: 100%;
    width: 150px;
    height: 150px;
}

.text {
    background: #9be010;
}

.grid button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

.category {
    margin-bottom: 20px;
}


.categories ul {
    display: flex;
}
